
body {
	font-family: 'Montserrat', sans-serif;
  }
  
  a {
	color: #06c;
  }
  
  .unLogo {
	max-width: 50%;
	height: 50%;
  }
  
  img {
	max-width: 100%;
  }
  
  .white {
	color: #fff;
  }
  
  .black {
	color: #1d1d1f;
  }
  
  .grey {
	color: #137373;
  }
  
  .top-50 {
	margin-top: 50px;
  }
  
  /* Header Style */
  .nav-wrapper {
	background: linear-gradient(90deg, #2a91dc 0%, #6db3f2 100%);
	font-size: 0.85em;
	font-weight: 200;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .mx {
	margin-left: 100px;
    margin-right: 100px;
  }
  
  .nav-wrapper ul li a {
	color: #fff;
	transition: color 0.3s;
  }
  
  .nav-wrapper ul li a:hover {
	color: #f2d9a0;
  }
  
  .navbar-toggler {
	color: #fff;
  }
  
  .navbar-toggler:focus {
	outline: none;
  }
  
  /* Menu bar on small screens */
  @media (max-width: 768px) {
	.navbar-collapse {
	  width: 250px;
	  position: fixed;
	  left: 0;
	  top: 0;
	  height: 100%;
	  background: #2a91dc;
	  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	  padding-top: 20px;
	  display: none; /* Initially hidden */
	}
  
	.navbar-collapse.show {
	  display: block;
	}
  
	.nav-item {
	  text-align: left !important;
	  padding: 15px 20px;
	  border-bottom: 1px solid #4b4b4b;
	}
  
	.nav-item:hover {
	  background: #1d1d1f;
	}
  
	/* Adjust logo and search icon size for small screens */
	.navbar-brand img {
	  max-width: 100px; /* Adjust size as needed */
	  height: auto;
	}
  
	.navbar-nav .nav-link img {
	  max-width: 70px; /* Adjust size as needed */
	  height: auto;
	}
  
	/* Prevent logo from wrapping on very small screens */
	.navbar-brand {
	  white-space: nowrap;
	}
  
	/* Cancel button */
	.navbar-collapse .cancel {
	  position: absolute;
	  top: 10px;
	  right: 20px;
	  font-size: 25px;
	  cursor: pointer;
	  color: #fff;
	}
  }
  
  .section1Img {
	background-image: url(../images/home/Banner.png);
	background-size: cover;
	background-position: center;
	margin-top: 84px;
	width: 100%;
	height: 100vh;
  }
  /* .section2 {
	max-width: 50%;
	height: auto;
  } */
  .mt-6 {
	margin-top: 100px;
  }
  .secondHead {
    display: flex;
	align-items: center;
  }
  .bord {
	border-left: #737373 2px solid;
  }
  .rounded-lg {
	border-radius: 30px;
  }
  .center-horizontal{
	display: flex;
	margin-top: 60px;
	width: 50%;
	height: 400px;
	margin-left: 60px; 
   margin-right: 40px;
}

  @media (min-width: 538px) and (max-width: 767px){
	.sizer {
		font-size: x-small;
	}
	.center-horizontal{
		display: flex;
		margin-top: 60px;
		width: 50%;
		height: 400px;
		margin-left: 40px; 
	   margin-right: 40px;
	}
  }
  @media (max-width: 538px) {
	.sizer {
		font-size: 10px;
	}
	.center-horizontal {
		display: flex;
		width: 50%;
		margin-top: 50px;
		height: 160px;
		margin-left: 40px; 
	   margin-right: 40px;
	}

  }
  @media (max-width: 768px) {
	.section1Img {
	  height: 50vh; /* Adjust the height for smaller screens */
	}
  }
  
  @media (max-width: 450px){
	.section1Img {
		height: 150px;
	}
  }
  
  /* Menu bar on larger screens */
  @media (min-width: 768px) {
	.navbar-collapse {
	  display: flex !important;
	  position: relative;
	  width: auto;
	  height: auto;
	  background: none;
	  box-shadow: none;
	  padding-top: 0;
	}
  
	.nav-item {
	  text-align: center !important;
	  padding: 0;
	  border-bottom: 0px;
	}
  }
  
  /* Footer Styling */
  .footer-wrapper {
	background-color: #f5f5f7;
	color: #86868b;
	font-size: .7em;
  }
  
  .footer-wrapper ul {
	list-style: none;
	padding-bottom: 10px;
	padding-inline-start: 0px;
	display: flex;
	justify-content: space-between;
  }
  
  .footer-wrapper ul a {
	color: #515154;
  }
  .fs {
	font-size: 10px;
  }
  .fsize {
	font-size: 22px;
  }
  
  .otherPages {
	text-align: center;
  }
  .customBg {
	background-color: cadetblue;
  }
  .bgcustom2 {
    background-color:#f2d9a0;
  }
  .three-d {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
	border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  /* Media Query */
  /* Hide cancel button on larger screens */ 
  /* Adjust logo size for small screens */
@media (max-width: 768px) {
 .unLogo {
	width: 100px;
 }

  
}

  @media (min-width: 768px)
   { 
	.cancel { display: none; 
	/* Hide the cancel button */ 
} }

  /* Footer */
  @media (max-width: 768px) {
	.navbar-brand {
	  margin: auto;
	}
  
	.footer-links-wrapper ul {
	  display: none;
	}
  
	.footer-links-wrapper h3 {
	  padding: 10px 0;
	  border-bottom: 1px solid #ccc;
	}
  
	.footer-links-wrapper h3:after {
	  font-family: "FontAwesome";
	  content: "\f067";
	  padding-left: 10px;
	  position: absolute;
	  right: 25px;
	}
  }
  
  